/* home.css */

.home {
  width: 100%;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Light Mode Styles */
body.light .home {
  color: #0a0a0a; /* Light mode text color */
}

body.light .about {
  color: #2e2c2c; /* Light mode about section color */
}

body.light .about h2 {
  font-size: 80px;
  color: #242329; /* Light mode heading color */
}

body.light .name {
  font-size: 80px;
  color: #5a43cb; /* Light mode name color */
}

body.light .about .prompt {
  color: #0a0a0a; /* Light mode prompt text color */
}

body.light .prompt svg {
  color: #3c3b42; /* Light mode icon color */
}

body.light .skills {
  color: #242329; /* Light mode skills text color */
}

body.light .skills h1 {
  color: #5a43cb; /* Light mode skills heading color */
}

body.light .skills h2 {
  color: #242329; /* Light mode skills subheading color */
}

body.light .list span {
  color: #000000; /* Light mode list item color */
}

body.light .prompt a:hover {
  cursor: pointer;
  color: #6e57e0; /* Light mode link hover color */
}

/* Dark Mode Styles */
body.dark .home {
  color: #f0f0f0; /* Dark mode text color */
}

body.dark .about {
  color: #f0f0f0; /* Dark mode about section color */
}

body.dark .about h2 {
  font-size: 80px;
  color: #f0f0f0; /* Dark mode heading color */
}

body.dark .name {
  font-size: 80px;
  color: #c1b6fc; /* Dark mode name color */
}

body.dark .about .prompt {
  color: #f0f0f0; /* Dark mode prompt text color */
}

body.dark .prompt svg {
  color: #ffffff; /* Dark mode icon color */
}

body.dark .skills {
  color: #f0f0f0; /* Dark mode skills text color */
}

body.dark .skills h1 {
  color: #c1b6fc; /* Dark mode skills heading color */
}

body.dark .skills h2 {
  color: #f0f0f0; /* Dark mode skills subheading color */
}

body.dark .list span {
  color: #ffffff; /* Dark mode list item color */
}

body.dark .prompt a:hover {
  cursor: pointer;
  color: #6e57e0; /* Dark mode link hover color */
}

/* About Section */
.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .prompt {
  width: 60%;
  font-size: 30px;
}

.prompt svg {
  font-size: 40px;
  margin: 5px;
}

/* Skills Section */
.skills {
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  font-size: 65px;
}

.skills h2 {
  color: #242329; /* Will be overridden in dark mode */
}

/* List Styles */
.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }

  .skills h1 {
    font-size: 38px;
  }

  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
