.home {
  width: 100%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #0a0a0a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #2e2c2c;
}

.about h2 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  color: #242329;
  height: 50px;
}

.name {
  color: #5a43cb;
}

.about .prompt {
  width: 60%;
  font-size: 30px;
}
.prompt svg {
  font-size: 40px;
  margin: 5px;
  color: #3c3b42;
}
.prompt a :hover {
  cursor: pointer;
  color: #6e57e0;
}

.skills {
  font-size: 25px;
  color: #242329;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  font-size: 65px;
  color: #5a43cb;
}

.skills h2 {
  color: #242329;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }

  .skills h1 {
    font-size: 38px;
  }

  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
